* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kalam", cursive;
}

body {
  background-color: #000;
  color:  aliceblue;
}

.container-flex {
  background-image: url(../imagenes/design1_image1.jpg);
  background-position: 0 -100px;
  height: 400px;
  display: flex;
  align-items: flex-start;
  border-bottom: 10px solid rgb(530, 255, 0);
}

.titulo {
  position: relative;
  margin-left: 15px;
  margin-top: 10px;
  font-size: 2.5rem;
  text-align: center;
  color: rgba(209, 206, 206, 0.959);
  background-color: rgba(0, 0, 0, 0.363);
  opacity: 1.5;
  border: solid 2px #000;
  border-radius: 10px;
  padding: 1rem;
}

.container-nav {
  position: absolute;
  left: 55%;
  padding: 1.5rem;
  top: 10px;
}

.container-nav>a{
  width: 10px;
  padding: 7px;
  border: 1px solid #000;
  border-radius: 20px;
 background-color: rgba(0, 0, 0, 0.363);
}

.links {
  margin: 10px;
  font-size: 1rem;
  color: aliceblue;
  text-decoration: none;
}

.logo {
  position: relative;
  top: 80%;
  left: 40%;
  width: 150px;
  border: solid 3px yellow;
  border-style: dotted;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.26);
}

.imgGaleria {
  position: relative;
  width: 300px;
  top: 100px;
  left: 1rem;
  border-radius: 30px;
  border: solid 3px yellow;
  border-style: dotted;
  opacity: 1.5;
}

main {
  display: flex;
}

.subtitulo {
  position: absolute;
  color:  aliceblue;
  padding: 0.5rem;
  bottom: 140px;
  left: 45%;
}

.listas {
  position: absolute;
  margin: 10px;
  margin-top: 70px;
  left: 25%;
  padding: 30px;

}
#listAbout{
padding: 50px;
bottom: 20px;

}

#fottList{
  position: relative;
  top: 150px;
}

dt {
  margin: 4px;
  border: 4px;
  padding: 4px;
  font-weight: bold;
}

dd {
  text-indent: 2em;
  margin: 2px;
  border: 2px;
  padding: 2px;
}

h4 {
  color:  aliceblue;
  padding: 15px;
  display: inline-block;
}

.contac {
  position: relative;
  left: 50px;
  margin: 20px;
  top: 80px;
}

#contacto {
  position: relative;
  margin-left: 5px;
  top: 16px;
}

a {
  position: relative;
  top: 6px;
  margin: 6px;
}

.flex-table {
  flex-direction: column;
}

table {
  position: relative;
  top: 90px;
  border-collapse: separate;
  border-spacing: 20px 10px;
  width: 100%;
  background-color: aqua;
  border: 2px solid rebeccapurple;
}

caption {
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}

th {
  background-color: blueviolet;
  border: 2px solid red;
  height: 3px;
}

.dl-flex {
  position: relative;
  font-size: 20px;
  margin: 20px;
  top: 100px;
  padding-bottom: 15px;
}

.section-rules {
  display: flex;
  flex-direction: column;
  top: 100px;
  position: relative;
  padding: 10px;
}

#subrules {
  margin: 30px;
  padding: 30px;
  border: 1px solid #000;
  color:  aliceblue;
  height: 20rem;
  width: 50rem;
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
}

footer > p {
  position: relative;
  top: 200px;
  padding: 20px;
  border: 1px #000;
  background-color: #000;
  color: aliceblue;
}
