*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: aqua;}
    
header{ background-image: url(../imagenes/design1_image1.jpg);
background-size: cover;
background-position: 0 -100px;
height: 400px;
font-size: 1rem;
font-family: cursive;

}


.logo
{
    width: 150px;
    background: transparent;
    position: absolute;
    bottom:20%;
    right: 70px;
    border: solid 1px #000;
}