@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

body {
  background-color: #000;
}

header {
  background-image: url(../imagenes/design1_image1.jpg);
  background-size: cover;
  background-position: 0 -100px;
  height: 400px;
}

.titulo {
  position: absolute;
  font-size: 2.5rem;
  text-align: center;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  color: white;
  background-color: #000;
  border: solid 2px yellow;
  border-radius: 10px;
}

.subtitulo {
  background-color: #000;
  border: solid 2px yellow;
  position: absolute;
  margin-top: 380px;
  height: 4rem;
  width: 100%;
  color: white;
  text-align: center;
  padding: 1rem;
}

.logo {
  width: 150px;
  background: #000;
  position: absolute;
  bottom: 15%;
  right: 70px;
  border: solid 2px yellow;
  border-style: dotted;
  border-radius: 50px;
  padding-bottom: 0.5rem;
}

.navbar
{
  display: inline-block;
  position: absolute;
  margin: 20px;
  padding-block: 30px;
  padding-top: 10px;
}


nav a {
  margin: 10px;
  display: block;
  width: 200px;
  margin-top: 70px;
  padding: 10px;
  
}

a {
  font-size: 20px;
  border: #000 solid 1px;
  text-decoration: none;
  color: white;
  font-size: 15px;
  border: solid 1px yellow;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
  margin: 20px
;

}

a :hover {
  color: yellow;
}



main {
  display: inline-block;
  position: absolute;
  margin: 20px;
  left: 250px;
  top: 80%;
  font-size: 20px;
  padding: 30px;
}

h4 {
  color: white;
  padding: 15px; 

  /* box-shadow: -5px 10px 20px c5c5c5, 10px -5px 20px #c5c5c5; */

}

p {
  position: relative;
  left: 20px;
  padding: 15px;
  font-size: 15px;
  color: white;

}

#contac{
  margin: 10px;
}











